<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Espace personnel</title>
</head>
<body>
<header>
    <th:block th:fragment="navbar">
    <ul id="navbar" >
        <li><a href="/private/space">Mon espace</a></li>
        <li><a href="/private/utils">Utils</a></li>
        <li><a href="/private/favorites">Favorites</a></li>
        <li><a href="/private/about">About</a></li>
        <li><a href="/auth/authenticate">Logout</a></li>
    </ul>
    </th:block>

</header>
<main>
    <p>Ceci constitue votre espace personnel</p>
</main>

</body>
</html>