<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Espace personnel</title>
</head>
<body>
<header>
    <ul id="navbar">
        <li><a href="privateSpace.html">Mon espace</a></li>
        <li><a href="utils.html">Utils</a></li>
        <li><a href="favorites.html">Favorites</a></li>
        <li><a href="/templates/about.html">About</a></li>
        <li><a href="/templates/home.html">Logout</a></li>
    </ul>

</header>
<main>
    <p>Ceci constitue votre espace personnel</p>
</main>

</body>
</html>